.DS_Store
*.swp
*~.nib
*~.xib

*.orig
*.rej
*~
*.o
.#*
a.out

# The following ignores all files in the .xcodeproj bundle,
# And then adds back in only the project (skipping the user files)
*.xcodeproj/
!*.xcodeproj/project.pbxproj

build



